:root{
	font-size:16px;
};

body
{
	margin:0px;
	padding:0px;
}

.container .title_container 
{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	background-color: lightgrey;

}


.title_container a
{
	font-size: 1rem;
	font-family: "Playfair Display", serif;
	font-weight: 700;
	
	padding-top:2vh;
	padding-bottom: 2vh;
	padding-left:8vw;
	padding-right: 8vw; 
	color:black;
}

.title_container a:hover
{
	background-color: orange;
	box-shadow: 0 3px 20px 0 orange;
}

.column_container
{
    /*background: seagreen;*/
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items:center;
}

.column1
{
	height:20vh;
	font-style: italic;
	font-weight: 700;
	flex:25%;
	text-align: center;
	color:white;
	background: blue;
}
.columnmain
{
	height:20vh;
	font-style: italic;
	font-weight: 700;
	text-align: center;
	flex:50%;	
	background-color: red;
}
.column2

{
	height: 20vh;
	font-style: italic;
	flex:25%;
	text-align: center;
	font-weight: 700;
	background-color:green;
}